.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.formwrapper{
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
.progress-bar{
  max-width: 50%;
  margin:2% auto;
  
  

}
header{
  background: #F8F9FA;
  .logo-image{
    height: 33px;
    width: 118px;
  }
  .search-icon{
    background: rgb(204, 202, 202);
    border-radius: 20px;
    padding: 8px 12px;
    margin-right: 20px;
    color: #fff;
  }
  .fa-user-circle{
    font-size: 40px;
    line-height: 1.2;
    color: rgb(204, 202, 202);
  }
  padding: 10px;
  box-shadow: 0px 0px 7px 5px #c4c4c4;
}

.next-btn{
  float: right;
  margin-bottom: 20px;
  margin-top: 20px;
}

.back-btn{
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
}

%form{
  label{
    width: 50%;
  }
  .form-check-inline{
    margin-bottom: 30px;
    .form-check-input{
      height: 20px;
      width: 20px;
    }
    label{
      width: 100%;
      color: #000;
    }
  }
}

.companyDetails{
  @extend %form;
}

.assignProducts{
  @extend %form;
  border-bottom: 1px solid rgb(173, 170, 170);
  padding-left: 50px;
  .fixedRate{
    padding-left: 24px;
    padding-bottom: 30px;
    .selectRequired{
      font-size: 14px;
      color: rgb(141, 138, 138);
    }
    .form-check{
      margin-bottom: 10px;
      .form-check-label{
        color: #000;
      }
    }
    .requiredCheck{
      padding-left: 23px;
      font-size: 12px;
      color: rgb(141, 138, 138);
    }
    .taxText{
      font-size: 14px;
      color: rgb(122, 118, 118);
      padding-top: 20px;
    }
    .tax{
      input[type=checkbox], input[type=radio] {
        width: 20px;
        height: 20px;
      }
      .tax-label{
        line-height: 1.8;
        padding-left: 10px;
      }
    }
    .incomeTax{
      padding: 0;
      max-width: 300px;
      width: 100%;
    }
  }
}

.paymentMethod{
  padding-top: 25px;
  padding-bottom: 20px;
  .paymentContent{
    font-style: italic;
    font-size: 14px;
    padding-left: 10px;
  }
  input[type=checkbox], input[type=radio] {
    width: 20px;
    height: 20px;
  }
  .payment-label{
    line-height: 1.8;
    padding-left: 10px;
  }
  .funds{
    padding-left: 20px;
    .payment-label{
      width: 50%;
    }
  }
  .concur{
    .payment-label{
      padding-bottom: 8px;
    }
  }
  .payFreq{
    padding-top: 35px;
  }
  .payFreqLabel{
    padding-left: 50px;
  }
}

.driverManagement{
  padding-top: 25px;
  padding-bottom: 20px;
  border-top: 1px solid rgb(173, 170, 170);
  input[type=radio] {
    width: 20px;
    height: 20px;
  }
  .driverManageOptions{
    padding-left: 70px;
    padding-top: 10px;
    .payment-label{
      line-height: 1.8;
      padding-left: 10px;
    }
  }
}

.fixedPaySchedule{
  padding-top: 25px;
  padding-bottom: 20px;
  input[type=radio] {
    width: 20px;
    height: 20px;
  }
  .fpContent{
    font-style: italic;
    font-size: 14px;
    padding-left: 10px;
  }
  .fixedPayOptions{
    padding-left: 70px;
    padding-top: 10px;
    .payment-label{
      line-height: 1.8;
      padding-left: 10px;
    }
  }
}